<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Book Store</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="logo">
          <a href="/"><h3>Book Store</h3></a>
        </div>
        <div class="links">
          <a href="/books/new"><button>Add New</button></a>
        </div>
      </div>
    </nav>
    <section class="container book">
      <div class="book__content">
        <h2>Book List</h2>
        <div class="book-details">
          <%if(books.length > 0){ books.forEach(book => { %>
          <div class="book-details__main">
            <h3><%= book.title %> - <i><%= book.author %></i></h3>
          </div>
          <p><%= book.description.substr(0,200) + "..." %></p>
          <!-- <button>Buy Now for ₹<%= book.price %></button> -->
          <a href="/books/<%= book._id %>">
            <button>Show More</button>
          </a>
          <hr />
          <% }); } else{ %>
          <div
            style="
              height: 50vh;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            "
          >
            <p><%= "No Books Available, Try to Add New Books"%></p>
          </div>
          <%}%>
        </div>
      </div>
    </section>
  </body>
</html>
